.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
}

.input {
  font-size: 1em;
  background: none;
  border: none;
  padding: 10px;
  color: #fff;
}
.input::placeholder {
  color: #fff;
}