.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s ease-in;
}
.button:hover {
  color: #aaa;
}