.container {
  display: flex;
  flex-direction: column;
  width: 260px;
  padding-left: 10px;
}

.label {
  margin-bottom: 6px;
}

.text {
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.text:hover {
  color: orange;
}

.input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  transition: 0.3s ease-in;
}
.input:checked + .text {
  color: tomato;
}

@media (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }
  .label {
    margin-right: 20px;
    margin-bottom: 0;
  }
}