.ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 0.8em;
  max-height: 350px;
  overflow-y: auto;
}

.li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  column-gap: 10px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: tomato;
  border-radius: 20px;
  padding: 6px;
  font-size: 0.7em;
  transition: 0.3s ease-in;
  height: 32px;
  min-width: 100px;
}
.date:hover + .name {
  color: orange;
}

.name {
  transition: 0.3s ease-in;
}
.name:hover {
  color: orange;
}

@media (max-width: 768px) {
  .date {
    height: 28px;
    min-width: 80px;
  }
}