.input {
  font-size: 1em;
  background: none;
  border: none;
  padding: 10px;
  color: #fff;
  max-width: 260px;
}
.input::placeholder {
  color: #fff;
}

@media (max-width: 768px) {
  .input {
    max-width: 170px;
  }
}

@media (max-width: 450px) {
  .input {
    max-width: 100%;
  }
}