.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25%;
  background-color: rgba(170, 170, 170, 0.7);
  padding: 0 4rem;
}

.current {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}

.currentInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today {
  text-transform: uppercase;
}

.ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.li {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.img {
  width: 100px;
  height: 100px;
}

@media (max-width: 1280px) {
  .container {
    font-size: 0.8em;
    padding: 0 2rem;
  }
  .current {
    min-width: 200px;
  }
  .img {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 768px) {
  .container {
    column-gap: 30px;
    padding: 0 1rem;
  }
  .current {
    min-width: 0;
  }
  .ul {
    overflow-x: auto;
    justify-content: space-between;
  }
}

@media (max-width: 550px) {
  .current {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .img {
    width: 50px;
    height: 50px;
  }
}